
#header {
	background-color: #fff;
	border-color: #ccc;
	width: 100%;
}

#aboutportcon{
	float: right;
	width: 270px;
}

#aboutportcontext{
	color: #777;
}

#yourname {
	background-color: #4aaaa5;
	width: 270px;

}

#yournametext{
	font-family: 'Georgia', Times, Times New Roman, serif;;
	font-color: #fff;
}

#maincontentsection{
	background-color: rgb(236, 236, 236);
	border-color: #ddd;
	width: 100%;
}

#aboutme{
	width: 800px;
}
#aboutmetext{
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
}



#connectwithme{
	width: 270px;
	float: right;
	margin-bottom: 30px;
}

#connectwithmetext {
	color: #4aaaa5;
}

#footersection{
	background-color: #666;
	width: 100%;
	padding: 10px;
	border-color: #4aaaa5;
	border-style: thick solid 5px;
}

#footersectiontext {
	color: rgb(122, 134, 139);
	text-align: center;
}

/* css for images below here */

#cecilyphoto {
	width: 250px;
	height: 200px;
	display: inline-block;
}

#fblogo {
	width: 50px;
	height: 50px;
}

#Githublogo {
	width: 50px;
	height: 50px;
}

#LinkLogo {
	width: 50px;
	height: 50px;
}
